<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://blog.seguridade.com.br/wp-content/uploads/2017/04/como-gerenciar-tarefas-da-minha-equipe-de-forma-efetiva-810x810.jpeg.webp);">
  <div class="container">
    <h1>A way to do your task and mark if you done the task or not</strong>!</h1>
    <p>easy to work, just enjoy it.</p>
    <%= link_to "Start the task manager!", tasks_path, class: "btn btn-success" %>
  </div>
</div>
