<h1>All my tasks (done and undone) 📃</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <% if task.completed? %>
        <i class="fa-solid fa-square-check"></i>
      <% else %>
        <i class="fa-regular fa-square"></i>
      <% end %>
      <%= link_to task.title, task_path(task) %>
      <%= link_to task_path(task.id), data: {turbo_method: :delete, turbo_confirm: "Delete #{task.title}?"} do %>
        <i class="fa-regular fa-trash-can"></i>
        <% end %>
    </li>
  <% end %>
</ul>
  <%= link_to "create a task", task_new_path, class: 'btn btn-primary' %>
  <hr>
